<!DOCTYPE html>
<html lang="es">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Registrar Factura</title>

    <!-- Custom fonts for this template-->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        body {
            background: #005AA7;
            /* fallback for old browsers */
            background: -webkit-linear-gradient(to right, #FFFDE4, #005AA7);
            /* Chrome 10-25, Safari 5.1-6 */
            background: linear-gradient(to right, #FFFDE4, #005AA7);
            /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        }
    </style>
</head>

<body class="bg-gradient-primary">

    <div class="container">

        <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
                <!-- Nested Row within Card Body -->
                <div class="row">
                    <div class="col-lg-12">
                        <div class="p-5">
                            <div class="text-center">
                                <h1 class="h4 text-gray-900 mb-4">Ingresar Factura!</h1>
                            </div>
                            <form method='POST' action='saveFacturas/' class="user" id="registerFacturaForm">
                                {% csrf_token %}
                                <div class="form-group">
                                        <input name="maestro" type="text" class="form-control form-control-user" id="maestro"
                                            placeholder="Maestro(Id)">
                                </div>
                                <div class="form-group">
                                    <input name="productos" type="text" class="form-control form-control-user" id="productos"
                                        placeholder="Productos(Producto a, producto b,)">
                                </div>
                                <div class="form-group">
                                    <input name="nit_cliente" type="number" class="form-control form-control-user" id="nit_cliente"
                                        placeholder="Nit del Cliente">
                                </div>
                                <div class="form-group row">
                                    <div class="col-sm-6 mb-3 mb-sm-0">
                                        <input name="total" type="number" class="form-control form-control-user"
                                            id="total" placeholder="Total">
                                    </div>
                                </div>
                                <button type="submit" class="btn btn-primary btn-user btn-block">
                                    Registrar Factura
                                </button>
                            </form>
                            <hr>
                            <div class="text-center">
                                <a class="small" href="{% url 'facturas' %}">Back</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- Bootstrap core JavaScript-->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="js/sb-admin-2.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const registerClienteForm = document.getElementById('registerClienteForm');
    
            registerClienteForm.addEventListener('submit', function (event) {
                event.preventDefault(); // Evitar el envío del formulario
    
                // Aquí puedes agregar lógica adicional antes de enviar el formulario
    
                // Muestra la alerta
                alert('¡Se ha creado un Cliente!');
    
                // Envía el formulario manualmente
                registerClienteForm.submit();
            });
        });
    </script>

</body>

</html>