

<div class="container">
    <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="{% url 'index' %}" class="nav-link active" aria-current="page">Home</a></li>
        <li class="nav-item"><a href="{% url 'producto' %}" class="nav-link">Productos</a></li>
        <li class="nav-item"><a href="{% url 'cliente' %}" class="nav-link">Clientes</a></li>
        <li class="nav-item"><a href="{% url 'facturas' %}" class="nav-link">Facturas</a></li>
      </ul>
    </header>
  </div>